<h1>App Dados</h1>
<div class="card" style="margin: 48px;" >
  <div class="jumbotrom text-center">
    <button class="btn btn-success btn-lg">Tirar
      Dados</button>
    <br>
    <img class="img" src="../assets/img/dice1.png">
    <img class="img" src="../assets/img/dice4.png">
  </div>
</div>

<div class="boton">
  <a class="btn btn-primary" href="https://github.com/juliv5/dados" target="_blank">Ir al Repositorio <i class="bi bi-github"></i> </a>
</div>
<footer>Juliana Velandia Todos los derechos reservados</footer>
<router-outlet />